@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

section {
	border-style: solid;
	border-width:5px;
	border-color:grey;
	margin-bottom:10px;
	margin-top:10px;
	padding:10px;
}


